services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-root
        IMAGE_TAG: 0
    environment:
      - ALLOW_INSECURE=true
      - CONFIG=config.Develop
      - SECRET_KEY=abc123
      - CONTAINER_IMAGE=local
      - BUILD_VERSION=development
    ports:
      - 83:8080
    volumes:
      - ./:/app

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 1083:8000
