services:
  app:
    build:
      context: .
      args:
        IMAGE: ghcr.io/nationalarchives/tna-python-dev
        IMAGE_TAG: latest
    environment:
      - CONFIG=config.Develop
      - SECRET_KEY=abc123
      - FORCE_HTTPS=False
    ports:
      - 83:8080
    volumes:
      - ./:/app
    healthcheck:
      start_period: 10s
      start_interval: 2s

  docs:
    image: squidfunk/mkdocs-material
    volumes:
      - .:/docs
    ports:
      - 1083:8000
